@page
@model MB.Presentation.Razor.Areas.Administrator.Pages.ArticleManagement.CreateModel
@{
}
<div class="card-body">
    <div class="row border">
        <div class="col-md-12">
            <div class="row justify-content-between p-4" style="background-color: #e7e1e1">
                <h1 class="display-4"> Create a new Article</h1>

            </div>
            <form class="form-group py-4" method="post">
                <div class="col-md-8">
                    <label class="col-md-8 p-0" for="title"> Title </label>
                    <input class="col-md-8 border rounded" type="text" name="title" />
                </div>
                <div class="col-md-8">
                    <label class="col-md-8 p-0" for="ShortDescription"> Short Description </label>
                    <textarea class="col-md-8 border rounded" rows="3" type="text" name="ShortDescription"></textarea>
                </div>
                <div class="col-md-8">
                    <label class="col-md-8 p-0" for="PictureUrl"> Picture Url </label>
                    <input class="col-md-8 border rounded" type="text" name="PictureUrl" />
                </div>
                <div class="col-md-8">
                    <label class="col-md-8 p-0" for="body"> Body </label>
                    <textarea class="col-md-8 border rounded" rows="5" type="text" name="body"></textarea>
                </div>
                <div class="col-md-8">
                    <select asp-items="@Model.Categories"
                            name="ArticleCategoryId" id="ArticleCategoryId"> Select a category:
                       <option value="0"> Select a category</option>
                    </select>
                </div>
                <div class="col-md-4 justify-content-between">
                    <button type="submit" class="btn btn-success">Create</button>
                    <a class="btn btn-dark m-4" asp-page="./Index"> Go Back</a>
                </div>
            </form>


        </div>
    </div>
</div>